In [1]:
import pandas as pd

In [2]:
yc_data = pd.read_json("yc_data.json")

In [3]:
yc_data

,Unnamed: 0,Company Name,Status,Alexa Rank,Domain Authority,Domains Linking,Twitter Followers,Tweet Count,LinkedIn Followers,Funding,...,Category,Location,Exit Value,Employees,Founded,Facebook Likes,Product Hunt Votes,Longitude,Latitude,Batch Number
0,0,Clickfacts,Exited,"5,337,279",25.0,119,14,3,9,$0.8m,...,Other SaaS,"San Francisco, California, United States",None,None,NaN,None,None,-122.419359,37.779238,0
1,1,Infogami,Dead,None,45.0,"3,020",None,None,None,None,...,Other SaaS,None,None,None,NaN,None,None,NaN,NaN,0
2,2,Kiko,Exited,"2,143,990",46.0,"1,230",None,None,None,$0.1m,...,Other SaaS,"Cambridge, Massachusetts, United States",$0.3m,None,NaN,None,None,-71.105616,42.375100,0
3,3,Loopt,Exited,"7,399,811",61.0,"3,686",381,496,484,$39.1m,...,Entertainment,"Mountain View, California, United States",$43.4m,15,2005.0,None,None,-122.083210,37.389389,0
4,4,Memamp,Dead,None,3.0,3,None,None,None,None,...,None,None,None,None,NaN,None,None,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2129,2129,ZeFi,Live,"892,026",17.0,97,52,290,None,None,...,Fintech,"San Francisco, California, United States",None,None,NaN,None,None,-122.419359,37.779238,29
2130,2130,Zelos,Live,"72,216",22.0,224,"1,783",71,None,None,...,Entertainment,"Los Angeles, California, United States",None,20,NaN,None,"1,134",-118.242766,34.053691,29
2131,2131,Zeo Auto,Live,"1,017,589",12.0,52,None,None,None,None,...,Other SaaS,"Mumbai, Maharashtra, India",None,None,NaN,None,None,72.877393,19.075990,29
2132,2132,Zumo Labs,Live,"1,136,727",18.0,59,11,4,None,None,...,Dev Tools,"San Francisco, California, United States",None,None,NaN,None,None,-122.419359,37.779238,29
2133,2133,Zynq,Live,"917,189",16.0,82,None,None,None,None,...,Other SaaS,"San Francisco, California, United States",None,5,NaN,None,None,-122.419359,37.779238,29

In [4]:
yc_data["Funding"] = yc_data["Funding"].apply(lambda x: 0 if not x else x)

In [5]:
yc_data["Funding"] = yc_data["Funding"].apply(lambda x: x.replace("m", "").replace("$", "").replace(",","") if type(x) == str else x)

In [6]:
yc_data["Funding"] = yc_data["Funding"].apply(lambda x: float(x) if type(x) == str else x)

In [9]:
yc_data["Funding"]

In [10]:
yc_data.to_json("yc_data_cleaned.json", orient='records')

: